---
---

@import "{{ site.theme }}";

p {
  color: black;
  font-size: 16px;
}

details {
  color: black;
  font-size: 16px;
  padding-bottom: 8px; 
  border:none;
}

summary {
  font-size:18px; 
  color:#159957; 
  padding-bottom: 8px;
  
  &:focus {
    outline:none;
  }
}
